body {
    background-image: url("../images/background.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(222,223,223);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(222,223,223);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.container-fluid{
    background-color:rgba(245,245,245);
    height: 60px;
}
.navbar-header{
padding:0px;
}
.navbar-brand>img {
  height: 200%;
  padding: 0px;
  margin-top:-4px;
  width: auto;
}
.navbar-right{
  padding-top:5px;

}
#search-box{
    position: fixed;	
    top: 40%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
}
form.search-form{
    margin: auto;
    max-width: 350px;
    min-width: 150px;
}

form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-form button:hover {
    background: #0b7dda;
}

form.search-form::after {
    display: table;
}

body h3 {
    color: white;
}

