@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <section>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/browser-icon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
<body>
        <section class="navbar">@navbar()</section>
        <section class="content">@content</section>
         <!--Footer-->
      <footer class="footer">

          <!--Footer Links-->
          <div class="container-fluid">
              <div class="row">

                  <!--First column-->
                  <div class="col-md-6">
                      <h3>Disclaimer</h3>
                      <p>Digital Extreme Ltd, Warframe and the logo Warframe are registered trademarks. All rights are reserved worldwide. This site has no official link with Digital Extremes Ltd or Warframe. All artwork, screenshots, characters or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of Digital Extreme Ltd.</p>
                  </div>
                  <!--/.First column-->

                  <!--Second column-->
                  <div class="col-md-6">
                      <h3>Links</h3>
                      <ul class="list-unstyled">
                          <li><a href="#!">Link 1</a></li>
                          <li><a href="#!">Link 2</a></li>
                          <li><a href="#!">Link 3</a></li>
                          <li><a href="#!">Link 4</a></li>
                      </ul>
                  </div>
                  <!--/.Second column-->
              </div>
          <!--/.Footer Links-->
      </footer>
      <!--/.Footer-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts//bootstrap.min.js")'></script>
    </body>

</html>
